.header {
    background-color: #061148;
}

.header__columns {
    display: flex;
    align-items: center;
}

.header__logo {
    margin-right: 50px;
}

.header__main {
    width: 100%;
    padding: 40px 0;
}

.header__upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    padding: 27px 0;
    border-bottom: rgba(220, 223, 248, 1);
    & > div {
        white-space: nowrap;
    }
}

.header__upper-leftside {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__callback {
    padding: 11px 33px;
    background-color: #01bc48;
    border: 0;
    color: #ffffff;
    font-weight: 500;
    line-height: 1;
    cursor: pointer;
    transition: background-color 0.25s;
    &:hover {
        background-color: darken(#01bc48, 10%);
        transition: background-color 0.25s;
    }
}

.header__contact-column {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.header__contact-icon {
    margin-right: 10px;
}

.header__tel {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.12;
    span {
        font-size: 15px;
    }
}

.header__email {
    padding-bottom: 1px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    text-decoration: none;
    border-bottom: 1px dashed #ffffff;
    &:hover {
        color: #ffffff;
        text-decoration: none;
    }
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
        padding-bottom: 3px;
        color: #ffffff;
        font-weight: 500;
        line-height: 1.2;
        text-decoration: none;
        border-bottom: 2px solid transparent;
        &:hover {
            border-bottom-color: #5e5987;
            text-decoration: none;
        }
    }
}

.header__social {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.header__social-link {
    display: inline-block;
    width: 26px;
    height: 26px;
    margin: 0 5px;
    border-radius: 50%;
    &_in {
        background: #38416d url('../../img/instagram.svg') 50% 50% no-repeat;
        background-size: 12px 11px;
    }
    &_fb {
        background: #38416d url('../../img/facebook.svg') 50% 50% no-repeat;
        background-size: 5px 12px;
    }
    &_od {
        background: #38416d url('../../img/classmates.svg') 50% 50% no-repeat;
        background-size: 8px 13px;
    }
    &_vk {
        background: #38416d url('../../img/vk.svg') 50% 50% no-repeat;
        background-size: 15px 7px;
    }
    &:hover {
        background-color: lighten(#38416d, 10%);
    }
}
